 <%- include('header') %>
 
  <body>
    <div>
      <h1>My tickets</h1>
      <div class="contrainer-fluid">
        <div class="row">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Journey</th>
                <th scope="col">Date</th>
                <th scope="col">Departure time</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                 <%
                  let totalCmd = '';
                  for (let i = 0; i<journey.length; i++) { 
                        %> 
              <tr>
                <th scope="row">1</th>
                <td><%=journey[i].departure%> - <%=journey[i].arrival%></td>
                <td><%=journey[i].date%></td>
                <td><%=journey[i].time %> </td>
                <td><%=journey[i].price%>€</td>
              </tr>

               <%
             totalCmd += journey[i].price 
            } 
               %> 

              <tr>
                <th scope="total">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%= totalCmd %>€</td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <% 
        for(var i = 0; i < journey.length; i++){
          var date = journey[i].date
          var departure = journey[i].departure
          var arrival = journey[i].arrival
          var time = journey[i].time
          var price = journey[i].price
        }
        console.log('ducks '+journey[0].departure)
        %>

        <div class="row">
          <div class="col-12 text-right">
              <button
                class="btn btn-outline-info btn-sm btn-checkout"
                name="button-checkout"
                type="submit"
                onclick="openPopup()"
              >
                Confirm
              </button>
              <form action="/myjourneys?date=<%= date %>&departure=<%= departure %>&arrival=<%= arrival %>&time=<%= time %>&price=<%= price %>" method="POST">
                <div class="popup" id="popup">
                  <img class="text-center" src="/images/tick.png" alt="tick">  
                  <h2>Thank You !</h2>
                  <p>Your details has been successfully submitted.</p>
                  <button type="submit" onclick="closePopup()">OK</button> 
                  
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      let popup = document.getElementById('popup');
      function openPopup(){
        popup.classList.add("open-popup");
      }

      function closePopup(){
        popup.classList.remove("open-popup");
      }

    </script>
  </body>
</html>
